@font-face {
  font-family: Exo-2;
  src: url('images/Exo2-Light.ttf')
}
*{
  font-family: Exo-2;
}
.check_box {
    display:none;
}

.check_box + label{
    background:url('images/unchecked.png') no-repeat;
    height: 30px;
    width: 75px;
    display:inline-block;
    padding: 0 0 0 0px;
    margin: 0px;
}

.check_box:checked + label{
    background:url('images/checked.png') no-repeat;
    height: 30px;
    width: 75px;
    display:inline-block;
    padding: 0 0 0 0px;
}

.duration {
  width: 75px;
}

div.addButton input {
    background:url('images/content-add.svg') no-repeat;
    cursor:pointer;
    width: 24px;
    height: 24px;
    border: none;
}

div.startButton input {
    background:url('images/outline-play-arrow.svg') no-repeat;
    cursor:pointer;
    width: 24px;
    height: 24px;
    border: none;
    display:inline-block;
    float: left;
}

div.saveButton input {
    background:url('images/content-save.svg') no-repeat;
    cursor:pointer;
    width: 24px;
    height: 24px;
    border: none;
    display:inline-block;
    float: left;
}

div.loadButton input {
    background:url('images/baseline-folder_open-24px.svg') no-repeat;
    cursor:pointer;
    width: 24px;
    height: 24px;
    border: none;
    display:inline-block;
    float: left;
}

div.checkButton input {
    background:url('images/baseline-check-24px.svg') no-repeat;
    cursor:pointer;
    width: 24px;
    height: 24px;
    border: none;
    display:inline-block;
    float: left;
}

div.uncheckButton input {
    background:url('images/baseline-clear-24px.svg') no-repeat;
    cursor:pointer;
    width: 24px;
    height: 24px;
    border: none;
    display:inline-block;
    float: left;
}

div.ttls {
  padding-left: 20 px;
}
tr td{
  width: 50px;
  height: 30px;
  box-sizing: border-box;
  /* font-size: small; */
}

.ttlTable {border-spacing: 0px;
          border-style: collapse;
         }

/* .btn {width:75px;} */
.btn-secondary{font-size: small;
               width: 50px;}

.dropdown-toggle-split {width:25px}
